<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
  <!-- Defina la dirección de almacenamiento del archivo de registro. No utilice una ruta relativa
  en la configuración de LogBack -->
  <property name="LOG_HOME" value="/logs"/>
  <!-- Salida de consola -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <!-- salida formateada:% d significa fecha,% hilo significa nombre del hilo,% -5level:
      el nivel se muestra desde la izquierda con 5 caracteres de ancho% msg: mensaje de registro,% n
      es un carácter de nueva línea -->
      <!-- <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %boldMagenta(%-5level %logger{50}): %msg%n</pattern>-->
      <pattern>%d{yyyy-MM-dd HH:mm:ss:SS} %green([%thread]) %highlight(%-5level)
        %boldMagenta(%logger{50}) - %cyan(%msg%n)
      </pattern>
    </encoder>
  </appender>

  <appender name="STDOUT-MINIFY" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%highlight(%-5level) %cyan(%msg%n)</pattern>
    </encoder>
  </appender>

  <!-- Nivel de salida del registro -->
  <logger name="com" level="debug" additivity="false">
    <appender-ref ref="STDOUT-MINIFY"/>
  </logger>
  <root level="INFO">
    <appender-ref ref="STDOUT-MINIFY"/>
  </root>
</configuration>
